<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - <%= todo.title %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1><i class="fa-solid fa-pencil"></i> Edit Todo</h1>
        
        <form action="/todos/<%= todo.id %>?_method=PATCH" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="<%= todo.title %>" required>
            </div>
            
            <div>
                <label for="description">Description</label>
                <textarea id="description" name="description"><%= todo.description %></textarea>
            </div>
            
            <button type="submit">Update Todo</button>
        </form>
        
        <div style="border: none; box-shadow: none; padding: 0; margin-top: 20px; background: transparent;">
            <a href="/todos">⬅ Back to List</a>
        </div>
    </div>
    
    <footer>
        <p>Built by Aaditya Jagtap</p>
    </footer>
</body>
</html>